# Ignore the following files

client.keys
internal_options.conf
local_internal_options.conf
ossec.conf
sslmanager.cert
localtime
sslmanager.key

root-ca.key
root-ca.pem
root-ca.srl
sslmanager.csr
# Ignore the following directories

lists/
rootcheck/
shared/
